In [1]:
import sqlite3
# get db filename from input.txt
# if file exists then skip creating the person table
# need to code this
conn = sqlite3.connect('example.db')
c = conn.cursor()
c.execute('''
          CREATE TABLE person
          (id INTEGER PRIMARY KEY ASC, full_name varchar(250),
          email varchar(150), street varchar(150), city varchar(150),
          zip varchar(10), maiden_last_name varchar(150), phone int(10),
          ssn int(9), age int(3), state varchar(2), dob timestamp)
          ''')
conn.commit()
conn.close()

In [8]:
# insert data that results from screenscraping
conn = sqlite3.connect('example.db')
c = conn.cursor()
c.execute('''
            INSERT INTO person (full_name, email, street, city, zip, maiden_last_name, phone,ssn, age, state, dob)
            VALUES ('Aaron Judge', 'ajudge@hotmail.com', '99 Yankee Way', 'New York', '12301','', 2125551212, 999999999, 25, 'MN', '1992-04-01')
            ''')
conn.commit()
conn.close()

In [9]:
# read data
conn = sqlite3.connect('example.db')
c = conn.cursor()
c.execute('''
            select * from person
            ''')
print (c.fetchall())
conn.close()

[(1, 'Greg Smith', 'smithgj66@hotmail.com', '123 Main Street', 'St. Paul', '55108', '', 6125551212, 123456789, 50, 'MN', 1944), (2, 'Greg Smith', 'smithgj66@hotmail.com', '123 Main Street', 'St. Paul', '55108', '', 6125551212, 123456789, 50, 'MN', '1965-01-20'), (3, 'Aaron Judge', 'ajudge@hotmail.com', '99 Yankee Way', 'New York', '12301', '', 2125551212, 999999999, 25, 'MN', '1992-04-01')]